/* ... text formating ... */

:root {
    --blue: #0065FC;
    --blue2: #DEEBFF;
    --grey: #F2F2F2;
}
body {
    font-family: 'Raleway', sans-serif;
    max-width: 1400px;
    margin: 0 auto;
}
H1 {
    Font-size: 1.4em;
    font-weight: bold;
}
H2 {
    Font-size: 1.2em;
}
H3 {
    font-size: 1em;
}
span {
    font-weight: bold;
}
a {
    text-decoration: none;
    color: black;
}

/* ... structure elements ...*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    list-style: none;
    text-align: center; 
    margin: 0;
}
nav li {
    display: inline-block;
    border-top: solid 3px transparent;
    border-bottom: solid 3px transparent;
    padding: 40px 50px;
}
nav li:hover {
    border-top: solid 3px var(--blue);
}
nav a:hover {
    color: var(--blue);
}

/* ... Main ... */

/* ... Search form ...*/

.searchbar {
  display: flex;
  flex-direction: row;  
}
.searchbar a {
    background-color: var(--grey);
    border-radius: 10px 0 0 10px;
    padding: 12px;
    color: black;
}
.search {
    padding: 12px;
    width: 200px;
    border-style: none;
    border: 0px;
    font-weight: bold;
    outline: 0;
}
.buttonsearch1  {
    font-weight: bold;
    font-family: "raleway";
    Font-size: 0.9em;
    background-color: var(--blue);
    border-style: none;
    color: white;
    width: 130px;
    padding: 12px;
    margin: 0;
    border-radius: 0 10px 10px 0;
}
.buttonsearch2  {
    background-color: var(--blue);
    border-style: none;
    color: white;
    width: 50px;
    padding: 12px;
    margin: 0;
    border-radius: 0 10px 10px 0;
    display: none;
}


/* ... Filter menu ... */

.filtermenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}
.filtermenu li {
    display: inline-block;
    border: solid 3px var(--grey);
    border-radius: 20px 20px 20px 20px;
    padding: 12px;
    Margin-right: 60px;
}
.filtermenu li:hover {
    background-color: var(--blue2);
}
.fa-dog {
    margin-right: 15px;
    color: var(--blue)
}
.fa-heart {
    margin-right: 15px;
    color: var(--blue)
}
.fa-person {
    margin-right: 15px;
    color: var(--blue)
}.fa-money-bill-wave {
    margin-right: 15px;
    color: var(--blue)
}

/* ... info message ... */

.infos {
    display: flex;  
    flex-direction: row; 
    flex-wrap: nowrap;
    gap: 20px;
}
.fa-info {
    padding: 4px;
    text-align: center;
    border: solid 1px var(--grey);
    height: 15px;
    width: 15px;
    border-radius: 20px;
    color: var(--blue);
    margin: auto 0;
}

/* ... Choose accomodation ... */

.sec2 {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.sec2 a:hover {
color: var(--blue)

}

/* ... Booking place ... */

.Acontainer {
    border-radius: 20px 20px 20px 20px;
    background-color: var(--grey);
    padding: 10px 40px;
    width: 65%;
}
.displayroom1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 35px;
    padding: 10px;
    margin: auto;
}
.card {
    box-sizing: border-box;
    width: 30%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 10px 5px 5px  rgb(197, 196, 196);
}
.card-image {
    position: relative;
    object-fit: cover;
    width: 95%;
    margin: 5px;
    height: 140px;
}
.card-image img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 100%;
}
.card-title h3 {
    font-weight: bold;
    margin: 1px 10px;
}
.card-title p {
    margin: 0 10px;
    font-size: 0.9em;
}
.card-star {
    display:flex;
    margin: 10px;
    color: var(--blue);
}

.subinfo {
    margin: 30px 0;
}

/* ... most popular ... */

.Bcontainer {
    border-radius: 20px 20px 20px 20px;
    background-color: var(--grey);                  
    padding: 10px 10px; 
    width: 35%;
}
.Bcard {
    display: flex;  
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
    padding: 0 10px 0 10px; 
    margin: auto;
    width: 90%;
    
}
.fa-chart-line {
    color: var(--blue);
    margin-right: 20px;
    
}
.displayroom2 {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px 20px 10px;
    gap: 40px;
    margin: auto;
}
.cardpop {
    position: relative;
    width: 95%;
    border-radius: 20px;
    background-color: white; 
    box-shadow: 10px 5px 5px rgb(197, 196, 196);
    display: flex;
    box-sizing: border-box; 
    margin: auto;
}
.cardpop-img {
    object-fit: cover;
    height: 150px;
    width: 45%;
    margin: 5px;
}
.cardpop-img img {
    border-radius: 20px 0 0 20px;
    width: 100%;
    height: 100%;   
}
.cardpop-body {
    width:55%;
    height: 150px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.cardpop-title {
    justify-content: center;
    padding: 0 10px;
}
.cardpop-title h3 {
    font-weight: bold;
    margin: 10px 0;
}
.cardpop-title p {
    font-size: 0.9em;
    margin: auto;
}
.cardpop-star {
    display: flex;
    color: var(--blue);
    margin-bottom: 10px;
    margin-left: 10px;
}

/* ... Section 3: Activity ... */

.sec3 a:hover {
    color: var(--blue);
}
.activity {
    padding: 20px 40px;;
}
.displayactivity {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 50px;
    margin: auto;
}
.cardacti {
    display: flex;
    flex-direction: column;
    box-sizing: border-box; 
    overflow: hidden;
    width: 22%;
    height: 440px;
    border-radius: 20px;
    box-shadow: 10px 5px 5px var(--grey); 
}
.cardacti-img {
    position: relative;
    object-fit: cover;
    height: 390px;
}
.cardacti-img img {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
}
.cardacti-title {
    width: 100%;
    height: 40px;
    margin: 0 10px;
}

/* ... footer ... */

footer {
    margin: 50px 0px 0px 0px;
    background-color: var(--grey);
}
footer a:hover{
    color: var(--blue);
}
.footerlink {
    display: flex;
    flex-direction: row;
    gap: 170px;
    margin: 10px 0px 0px 50px;
    padding: 30px;
}
.element1 {
    width:20%
}
.element2 {
    width: 20%;
}
.element3 {
    width: 20%;
}
/* --- Media query: First breackpoint 992px-768px --- */

@media screen and (max-width:992px) and (min-width:769px) {

    body {
        max-width: 992px;
        margin: 0 auto;
    }
    main {
        padding: 0 30px;
    }
    header {
        padding: 0 30px;
    }
    footer {
        padding: 0 30px;
    }
    .sec2 {
        flex-direction: column;
    }
    .filtermenu li {
        margin-right: 20px;
    }
    .Acontainer {
        width: 95%;
        padding: 30px;
    }
    .Bcontainer {
        width: 100%;
        padding: 5px;
    }
    .displayroom2 {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        gap: 10px;
    }
    .cardpop {
        max-width: 250px;
        margin: 0 0 10px 0;
    }
    .cardpop-img img{
        width: 100%;

    }
    .cardacti {
        width:100%;
        height: 320px;
    }

    .cardacti-img{
        position: relative;
        height: 260px;
    }
    .cardacti-img img {
        height:100%;
    }
    .cardacti-title {
        height: 60px;
        font-size: 0.9em;
    }
    footer {
        gap: 20%;
    }
    
}

/* ... Media query: Second Breackpoint: - 768px ... */

@media screen and (max-width:768px) {
    body {
        max-width: 768px;
        margin: 0;
    }
    header {
        flex-direction: column;
        justify-content: center;
    }
    .sec1 {
        padding: 0 60px;
    }
    nav ul{
        text-align: left;
        width: 550px;
    
    }
    nav li {
        padding: 50px 50px 20px 50px;
        margin: 0;
        width: 30%;
        border-bottom: solid 3px var(--grey);
    }
    nav li:hover {
        border-top: solid 3px transparent;
        border-bottom: solid 3px var(--blue);  
    }
    .buttonsearch1 {
        display: none;
    }
    .buttonsearch2 {
        display: inline-block;
    }
    .filtermenu {
        flex-direction: column;
        align-items: start;
        padding: 0;
        margin-top: 10px;
    }
    .filtermenu ul {
        display: flex;
        flex-wrap: wrap;
        min-width: 450px;
        padding: 0;
    }
    .filtermenu li {
        margin-right: 70px;
    }
    .filtermenu ul li {
        margin: 10px 5px;
    }
    .sec2 {
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
    
    }
    .Acontainer {
        width: 100%;
        padding: 0;
        background-color: white;
    }
    .Acontainer H1 {
        margin-left: 50px;

    }
    .card {
        width: 80%;
        Height: 230px;
    }
    .card-image {
        width: 97%;
    }
    .card-image img {
        Width: 100%;

    }
    .Bcontainer {
        width: 100%;
        padding: 0;
        align-items: center;
        border-radius: 0 0 0 0;
        margin-bottom: 10px;
    }
    .Bcontainer H1 {
        margin-left: 30px;
    }
    .Bcard {
        width: 90%;
    }
    .displayroom1 {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    gap: 10px;
}
    .subinfo {
    margin-left: 50px;
}
    .displayroom2 {
        width: 100%;
        gap: 10px;
    }
    .cardpop {
        width: 80%;
        height: 180px;
    }
    .cardpop-img {
        height: 170px;
    }
    .cardpop-img img{
        width: 100%;
    }
    .activity {
    margin-left: 20px;
}
    .displayactivity {
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
    .cardacti{
        width: 75%;
        height: 300px;
    }
    .cardacti-img {
        height: 250px;
    }
    .cardacti-img img {
        height: 250px;
    }
    .cardacti-title {
        height: 50px;
    }

    .footerlink{
    gap: 20%;
}

}