/* ... text formating ... */

* {
box-sizing: border-box;
}


:root {
    --blue: #0065FC;
    --blue2: #DEEBFF;
    --grey: #F2F2F2;
}
body {
    font-family: 'Raleway', sans-serif;
    max-width: 1400px;
    margin: 0 auto;
}

main, header, footer {
    padding: 0 30px;
}
H1 {
    Font-size: 1.4em;
    font-weight: bold;
}
H2 {
    Font-size: 1.2em;
}
H3 {
    font-size: 1em;
}
span {
    font-weight: bold;
}
a {
    text-decoration: none;
    color: black;
}

/* ... structure elements ...*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navigation ul {
    list-style: none;
    margin: 0;
}
.navigation li {
    display: inline-block;
    border-top: solid 3px transparent;
    border-bottom: solid 3px transparent;
    padding: 40px 50px;
}
.navigation li:hover {
    border-top: solid 3px var(--blue);
}
.navigation a:hover {
    color: var(--blue);
}

/* ... Main ... */

/* ... Search form ...*/

.searchbar {
  display: flex;
  flex-direction: row;  
}
.searchbar a {
    background-color: var(--grey);
    border-radius: 10px 0 0 10px;
    padding: 14px;
    color: black;
}
.search {
    padding: 14px;
    width: 230px;
    border-style: none;
    border: 0px;
    font-size: 1.1em;
    font-weight: bold;
    outline: 0;
}
.buttonsearch1  {
    font-weight: bold;
    font-family: "raleway";
    Font-size: 1.1em;
    background-color: var(--blue);
    border-style: none;
    color: white;
    width: 140px;
    padding: 14px;
    margin: 0;
    border-radius: 0 20px 20px 0;
}
.buttonsearch2  {
    background-color: var(--blue);
    border-style: none;
    color: white;
    width: 50px;
    padding: 14px;
    margin: 0;
    border-radius: 0 20px 20px 0;
    display: none;
}


/* ... Filter menu ... */

.filtermenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}
.filtermenu li {
    display: inline-block;
    border: solid 3px var(--grey);
    border-radius: 100vw;
    margin-right: 40px;
    padding: 14px;
    font-size: 1em;
}
.filtermenu li:hover {
    background-color: var(--blue2);
}
.fa-dog {
    margin-right: 15px;
    color: var(--blue)
}
.fa-heart {
    margin-right: 15px;
    color: var(--blue)
}
.fa-person {
    margin-right: 15px;
    color: var(--blue)
}
.fa-money-bill-wave {
    margin-right: 15px;
    color: var(--blue)
}
span {
    font-size: 1em;
}

/* ... info message ... */

.infos {
    display: flex;  
    flex-direction: row; 
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
    margin-bottom: 20px;
}
.info-icone {
    text-align: center;
    font-size: 16px;
    color: var(--blue);
    width: 30px;
    padding: 5px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    border: solid 1px var(--grey);
    margin: auto 0;

}

/* ... Choose accomodation ... */

.accomodation-sector {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.accomodation-sector a:hover {
color: var(--blue)

}

/* ... Booking place ... */

.box-accomodation {
    border-radius: 20px;
    background-color: var(--grey);
    padding: 10px 40px;
    width: 65%;
}
#accomodation-title {
    width: 90%;
    margin: 0 20px;
}
.displayroom1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 35px;
    padding: 10px;
    margin: auto;
}
.card-accomodation {
    flex: 1;
    min-width: 200px;
    padding: 5px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 3px 15px  rgba(0, 0, 0, 0, 1);
}
.card-accomodation-image {
    width: 100%;
    height: 140px;
}
.card-accomodation-image img {
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 100%;
}
.card-accomodation-title h3 {
    font-weight: bold;
    margin: 1px 10px;
}
.card-accomodation-title p {
    margin: 0 10px;
    font-size: 0.9em;
}
.card-accomodation-star {
    display:flex;
    margin: 10px;
    color: var(--blue);
}
.card-accomodation span {
    color: var(--grey);
}

.subinfo {
    margin: 30px 15px;
}

/* ... most popular ... */

.box-popular {
    border-radius: 20px;
    background-color: var(--grey);                  
    padding: 10px 40px; 
    width: 35%;
}
.popular-title {
    display: flex;  
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
    padding: 0; 
    margin: 0 0 0 10px;
    width: 95%;
    
}
.fa-chart-line {
    color: var(--blue);
    margin-right: 10px;
    
}
.displayroom2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px 20px 10px;
    gap: 35px;
    margin: auto;
}
.cardpopular {
    flex: 1;
    min-width: 200px;
    border-radius: 20px;
    padding: 5px;
    background-color: white; 
    box-shadow: 0px 3px 15px  rgba(0, 0, 0, 0, 1);
    display: flex; 
    margin: auto;
}
.cardpopular a {
    width: 100%;
    height: 150px;
    display: flex;
}
.cardpopular-img {
    height: 150px;
    width: 45%;
}
.cardpopular-img img {
    object-fit: cover;
    border-radius: 15px 0 0 15px;
    width: 100%;
    height: 100%;   
}
.cardpopular-body {
    width:55%;
    height: 150px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.cardpopular-title {
    justify-content: center;
    padding: 0 10px;
}
.cardpopular-title h3 {
    font-weight: bold;
    margin: 10px 0;
}
.cardpopular-title p {
    font-size: 0.9em;
    margin: auto;
}
.cardpopular-star {
    display: flex;
    color: var(--blue);
    margin-bottom: 10px;
    margin-left: 10px;
}
.cardpopular span {
    color: var(--grey);
}


/* ... Section 3: Activity ... */

.activity-sector a:hover {
    color: var(--blue);
}
#activity-title {
    padding: 30px 0 5px;
}
.displayactivity {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 50px;
    margin: auto;
}
.cardactivity {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 23%;
    height: 440px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px  rgba(0, 0, 0, 0, 1); 
}
.cardactivity-img {
    height: 390px;
}
.cardactivity-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
}
.cardactivity-title {
    width: 100%;
    height: 40px;
    margin: 0 10px;
}

/* ... footer ... */

footer {
    margin: 50px 35px 0px 35px;
    background-color: var(--grey);
}
footer a:hover{
    color: var(--blue);
}
.footerlink {
    display: flex;
    flex-direction: row;
    gap: 170px;
    margin: 10px 0px 0px 30px;
    padding: 30px;
}
.footer-element1 {
    width:20%
}
.footer-element2 {
    width: 20%;
}
.footer-element3 {
    width: 20%;
}
/* --- Media query: First breackpoint 992px-768px --- */

@media screen and (max-width:992px) and (min-width:769px) {

    body {
        max-width: 992px;
        margin: 0 auto;
    }
    main, header, footer {
        padding: 0 30px;
    }
    .accomodation-sector {
        flex-direction: column;
    }
    .filtermenu ul {
        padding-left: 5px;

    }
    .filtermenu li {
        margin-right: 20px;
    }
    .filtermenu h2 {
        margin: 10px;
    }
    .box-accomodation {
        width: 100%;
        padding: 30px;
    }
    .box-popular {
        width: 100%;
        padding: 5px;
    }
    .displayroom2 {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 40px;
        gap: 10px;
    }
    .cardpopular {
        flex: 1;
        max-width: 250px;
        margin: 0 0 10px 0;
    }
    .cardpopular-img img{
        width: 100%;

    }
    .cardactivity {
        width:100%;
        height: 320px;
    }

    .cardactivity-img{
        position: relative;
        height: 260px;
    }
    .cardactivity-img img {
        height:100%;
    }
    .cardactivity-title {
        height: 60px;
        font-size: 0.9em;
    }
    .footerlink {
        padding: 10px 0 0 10px;
        margin: 0 auto;
        gap: 10%;
    }
    .footer-element1 {
        width: 30%;
    }
    .footer-element2 {
        width: 30%;
    }
    .footer-element3 {
        width: 30%;
    }
    
}

/* ... Media query: Second Breackpoint: - 768px ... */

@media screen and (max-width:768px) {
    body {
        max-width: 768px;
        margin: 0;
        padding: 0;
    }
    main, header, footer {
        padding: 0;
    }
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .navigation {
        width: 100%;
        margin: 0;
    }
    .navigation ul {
        padding: 0;
        text-align: center;
    }

    .navigation li {
        margin: 0;
        width: 49%;
        border-bottom: solid 3px var(--grey);
    }
    .navigation li:hover {
        border-top: solid 3px transparent;
        border-bottom: solid 3px var(--blue);  
    }
    .header-sector {
        padding: 0 20px;
    }
    .searchbar {
        min-width: 330px;
    }
    .search {
        width: 70%;
        min-width: 220px;
    }
    .buttonsearch1 {
        display: none;
    }
    .buttonsearch2 {
        display: inline-block;
    }
    .filtermenu {
        flex-direction: column;
        align-items: start;
        padding: 0;
        margin-top: 10px;
    }
    .filtermenu h2 {
        margin: 3px;
    }
    .filtermenu span {
        font-size: 0.8em;
    }
    .filtermenu ul {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        min-width: 400px;
        padding: 0;
        margin: 0;
    }
    .filtermenu li {
        width: 40%;
        padding: 14px 5px;
        margin-right: 70px;
    }
    .fa-dog {
        margin-right: 10px;
    }
    .fa-heart {
        margin-right: 10px;
    }
    .fa-person {
        margin-right: 10px;
    }
    .fa-money-bill-wave {
        margin-right: 10px;  
    }
    .filtermenu ul li {
        margin: 10px 5px;
    }
    .accomodation-sector {
        flex-direction: column-reverse;
        padding: 0;
        width: 100%;
        align-items: center;
    }
    .displayroom1 {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 15px;
    }
    .box-accomodation {
        width: 100%;
        background-color: white;
        padding: 0;
    }
    #accomodation-title {
        margin-left: 30px;
    }
    .card-accomodation {
        width: 90%;
        Height: 280px;
        padding: 5px
    }
    .card-accomodation-image {
        width: 100%;
    }
    .box-popular {
        width: 100%;
        padding: 0;
        border-radius: 0;
        margin-bottom: 10px;
    }
    .displayroom2 {
        width: 100%;
        gap: 15px;
    }
    .popular-title {
        width: 90%;
        margin-left: 20px;
        padding: 0 10px;
    }
   
    .subinfo {
   display: none;
    }
    
    .cardpopular {
        width: 90%;
        height: 180px;
    }
    .cardpopular-img {
        height: 170px;
    }
    .cardpopular-img img{
        width: 100%;
    }
    #activity-title {
    margin-left: 40px;
    }
    .displayactivity {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;
    }
    .cardactivity {
        width: 80%;
        height: 250px;
    }
    .cardactivity-img {
        height: 200px;
    }
    .cardactivity-img img {
        height: 200px;
    }
    .cardactivity-title {
        height: 50px;
    }
    footer {
        margin: 0 auto;
    }
    .footerlink {
        flex-direction: column;
        justify-content: center;
        padding: 20px 5px;
        gap: 10px;
    }
    .footer-element1 {
        width: 80%;
    }
    .footer-element2 {
        width: 80%;
    }
    .footer-element3 {
        width: 80%;
    }

}